program.debug.dump
program.dump
progrma.elf
program.mem
program.out
simv
std_out.out
writeback.out
progs/
syn_simv.vdb/
synth/cache.chk
synth/cache.ddc
synth/cache.rep
synth/cache.vg
synth/ibuffer.chk
synth/ibuffer.rep
synth/ibuffer.tcl
synth/ibuffer.vg
synth/icache.chk
synth/icache.ddc
synth/icache.rep
synth/icache.tcl
synth/icache.vg
synth/instruction_buffer.chk
synth/instruction_buffer.ddc
synth/instruction_buffer.rep
synth/instruction_buffer.vg
.restartSimSession.tcl.old
ibuffer_syn_program.out
simv.vdb/
syn_simv_rs.daidir/debug_dump/dve_debug.db.gz
syn_simv_rs.vdb/snps/coverage/db/auxiliary/dve_debug.xml
synth/PRIORITY_SELECTOR.mr
synth/WAND_SEL.mr
synth/cache_synth.out
synth/command.log
synth/default.svf
synth/ibuffer_synth.out
synth/icache_synth.out
synth/pipeline.chk
synth/pipeline.rep
synth/pipeline.res
synth/pipeline.vg
synth/pipeline_synth.out
synth/priority_selector-verilog.pvl
synth/priority_selector-verilog.syn
synth/reservation_station.chk
synth/reservation_station.ddc
synth/reservation_station.rep
synth/reservation_station.res
synth/reservation_station.vg
synth/reservation_station_synth.out
synth/rs.vg
synth/rs_synth.out
synth/wand_sel-verilog.pvl
synth/wand_sel-verilog.syn
testbench/fetch_testbench/if_tb_program.mem
vis_simv.vdb/*
ibuffer_syn_simv.vdb/
icache_syn_program.out
icache_syn_simv.vdb/
synth/id_stage.chk
synth/id_stage.ddc
synth/id_stage.rep
synth/id_stage.res
synth/id_stage.vg
synth/id_stage_synth.out
synth/decoder.chk
synth/decoder.ddc
synth/decoder.rep
synth/decoder.res
synth/decoder.vg
synth/decoder_synth.out
synth/prf.chk
synth/prf.ddc
synth/prf.rep
synth/prf.res
synth/prf.vg
synth/prf_synth.out
synth/rat.chk
synth/rat.ddc
synth/rat.rep
synth/rat.res
synth/rat.vg
synth/rat_synth.out
debug_bin
simv.vdb/*
.__afs*
stack.info.*
csrc/*
simv.daidir/*
syn_simv_decoder.vdb/*
vis_simv.daidir/*
DVEfiles/
vcdplus.vpd
sedSpavpB
std_out/*
